#logs {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1px;
    font-size: 14px;
    box-sizing: border-box;
}

#logs > div {
    box-shadow: 0 0 0 1px #999;
    padding: 2px 5px;
}

#logs .header {
    font-weight: bold;
}

#logs .id {
    text-align: right;
}

#logs .message pre {
    font-family: "Courier New";
    font-size: 11px;
    white-space: pre-wrap;
    word-break: keep-all;
}

#logs .date {
    text-align: center;
}
